@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-image: url("../images/hpbackground1.jpg");
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}

.quiz-container {
  background-color: #f3cb74;
  width: 90%;
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #8c1903;
  color: #fff;
  font-family: Palatino, serif;
}

h2 {
  font-weight: 200;
  margin: 0px;
  padding: 10px;
  font-size: 16px;
  background-color: #8c1903;
  color: #fff;
  font-family: Palatino, serif;
}

.display-4 {
  font-size: 16px;

}

.jumbotron {
  background-color: #8c1903;
  color: #8c1903;
  font-family: Palatino, serif;
  width: 90%;

}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #8c1903;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 25px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #490103;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  background-color: #8c1903;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 25px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
}




.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 20px; 
  width: 90%;
}
#boxTimer {
  background-color: #8c1903;
  color: white;
  width: 150px;
  float: right;
}

#results {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px; 
    background-color: #f3cb74;
    color: #8c1903;   
    width: 90%;
}

#initials {
  background-color: #f3cb74;
  color: #8c1903; 
  width: 90%;
}
.card {
  background-color: #f3cb74;
  color: #8c1903; 

}

/*  */
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    height: 50px;
    background-color: #8c1903;
    padding: 10px;
    border-top: 8px solid #fdb20d;
    border-color: #fdb20d;
    text-align: center;
  }
  

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }